.img-size{
    width: 200px;
    border-radius: 10px;
    corner-shape: bevel;
}

 .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: white;
  border-bottom: solid 1px rgba(0, 0, 0, 0.187);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #c0392b;
}

nav {
  display: flex;
  gap: 25px;
}

nav a {
  font-size: 20px;
}

nav a:hover {
  color: #c0392b;
}


.btn{
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
}
.btn:active{
    background-color: #c0392b;
}
a{
    text-decoration: none;
    color: black;
}


.hero{
background-image: url(patiss.png);
background-size: cover;
background-position: center;
z-index: 1;

}
.hero-section{
    width: 500px;
    height: 400px;
}

